<div class="container-fluid">
  <h2>Registration Form</h2>
    <form [formGroup]="registrationForm">
      <div class="class form-group">
        <label>Username</label>
        <input formControlName="userName" type="text" class="form-control">
      </div>

      <div class="class form-group">
        <label>Password</label>
        <input formControlName="password" type="password" class="form-control">
      </div>

      <div class="class form-group">
        <label>Confirm Password</label>
        <input formControlName="confirmPassword" type="password" class="form-control">
      </div>

      <button class="btn btn-primary" type="submit">Register</button>
    </form>
    {{ registrationForm.value | json }}
</div>